body {
    background-color: white;
}

@media only screen and (max-width: 300px) {
    body {
        background-color: darkred;
    }

    body {
        font-size: 16px
    }
}
    @media only screen and (min-width: 300px) and (max-width: 768px) {
        body {
            background-color: darkgreen;
        }

        body {
            font-size: 25px
        }

        #small{
            width: 66%;

        }
        #medium{
            width: 33%;
        }

}

    @media only screen and (min-width: 768px) {
    body {
        background-color: darkblue;
    }

        body {
            font-size: 25px
        }

        .sizes{
            width: 100%;
            overflow: hidden;
        }

        #small{
            width: 33%;
            float: left;

        }
        #medium{
            width: 33%;
            float: left;
        }
        #large{
            width: 33%;
            float: left;
        }
}
